.toggle-btn-sec {
    display: flex;
    justify-content: center;
    transform-origin: center;
}
.main-btn {
    margin: 0 30px;
    align-self: center;
}
.switch {
  position: relative;
  display: block;
  width: 3.75em;
  height: 2.125em;




}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;

}
.switch .slider:after {
  position: absolute;
  content: "";
  height: 1.625em;
  width: 1.625em;
  left: 0.25em;
  bottom: 0.25em;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch input:checked + .slider {

}
.switch input:checked + .slider:after {
}
.switch input:checked + .slider:after {
  -webkit-transform: translateX(1.625em);
  -ms-transform: translateX(1.625em);
  transform: translateX(1.625em);
}



.hide-sec{
  display:none;
}

.elementor-togl{
margin-bottom: 0 !important;
}
